<div class="van-wrapper">
  <div class="product-img">
    <%= cl_image_tag van.photo.key, height: 360, width: 327, crop: :fill %>
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1><%= link_to van.model, van_path(van) %></h1>
      <h2><%= van.brand %> (<%= van.year %>)</h2>
      <p><%= van.description %></p>
      <p id='bold-price'><%= van.price %>€</p>
    </div>
    <div class="button-booking">
      <%= link_to "Choose me!",  new_van_booking_path(van), style: "text-decoration: none", class: "btn btn-success" %>
    </div>
  </div>
</div>
