

<br>
<br>
<h1>Vans </h1>

<ol>
  <% @vans.each do |van| %>
    <div class="wrapper">
    <div class="product-img">
      <%= cl_image_tag van.photo.key, height: 420, width: 327, crop: :fill %>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= van.model %></h1>
        <h2><%= van.brand %> (<%= van.year %>)</h2>
        <p><%= van.description %></p>
        <p><%= van.price %>€</p>
      </div>
      <div class="product-price-btn">
        <button type="button">rent now!</button>
      </div>
    </div>
  </div>
  <% end %>
</ol>

<%= link_to "Create a new Van", new_van_path %>
<br>
<br>
<br>
