<div class="container">
  <h2>Add your van</h2>
    <%= simple_form_for(@van) do |f| %>
    <div class="form-group">
      <%= f.label :size %>
      <%= f.text_field :size, class: 'form-control' %>
    </div>
      <div class="form-group">
        <%= f.label :model %>
        <%= f.text_area :model, class: 'form-control' %>
      </div>
        <div class="form-group">
        <%= f.label :brand %>
        <%= f.text_area :brand, class: 'form-control' %>
        </div>
      <div class="form-group">
        <%= f.label :year %>
        <%= f.text_area :year, class: 'form-control' %>
      </div>
        <div class="form-group">
        <%= f.label :price %>
        <%= f.text_area :price, class: 'form-control' %>
        </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
        <% end %>
</div>
<br>
<br>
<br>
