<br>
<br>
<br>
<div class= "container" >



<h1><%= (@van.brand) + (" ") + (@van.model) %></h1>
<br>

<div class= "d-flex justify-content-center gap-2">
    <%= cl_image_tag @van.photo.key, height: 360, width: 327, crop: :fill %>
  <br>
  <br>
  <div class="square-show-infos">
    <div>
      <h3>Manufacturing Date: <%= (@van.year)%></h3>
      <h3>Size: <%= @van.size %></h3>
      <br>
      <%= link_to " Book this van for #{@van.price} € ", new_van_booking_path(@van), class: "btn btn-success" %>
      <br>
      <br>
      <p><%= @van.description %></p>
    </div>
  </div>
</div>
<br>

<%= link_to "Update", edit_van_path(@van), class: "btn btn-secondary" %>
<%= link_to "Delete your van",
             van_path(@van),
             method: :delete,
             data: { confirm: "Are you sure?" },
             class: "btn btn-secondary"  %>
</div>
<br>

<%# cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<br>
