<h1>This is your Van that you selected</h1>

<ul>
  <li><%= @van.size %></li>
  <li><%= @van.model %></li>
  <li><%= @van.brand %></li>
  <li><%= @van.year %></li>
  <li><%= @van.price %></li>
  <li><%= @van.description %></li>
</ul>
