<h1>This is your Van that you selected</h1>
<%= cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>
<ul>
  <li><%= @van.size %></li>
  <li><%= @van.model %></li>
  <li><%= @van.brand %></li>
  <li><%= @van.year %></li>
  <li><%= @van.price %></li>
  <li><%= @van.description %></li>
</ul>

<%= link_to "Update", edit_van_path(@van) %>
<%= link_to "Delete your van",
            van_path(@van),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>

<%= link_to "Book this van", new_van_booking_path(@van) %>
