<h1>This is your Van that you selected</h1>

<div class="card-van">
  <img src="<%= cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>" />
  <div class="card-van-infos">
    <div>
      <h2><%= (@van.brand) + (" ") + (@van.model) %></h2>
      <h3>EUR <%= @van.price %></h3>
      <h3><%= (@van.year)%></h3>
      <p><%= @van.size %></p>
      <p><%= @van.description %></p>
    </div>

    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-van-user avatar-bordered" />
  </div>
</div>

<%= link_to "Update", edit_van_path(@van) %>
<%= link_to "Delete your van",
            van_path(@van),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>
