<br>
<br>
<br>
<br>
<div class= "container">



<h1>This is the Van that you selected</h1>

<div class="card-van" class="mb-3">
  <img src="<%= @van.photo.key %>" />
  <div class="card-van-infos">
    <div>
      <h2><%= (@van.brand) + (" ") + (@van.model) %></h2>
      <h2><%= (@van.year)%></h2>
      <br>
      <h3>EUR <%= @van.price %></h3>
      <p><%= @van.size %></p>
      <p><%= @van.description %></p>
    </div>

    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-van-user avatar-bordered" />
  </div>
</div>

<%= link_to "Update", edit_van_path(@van), class: "btn btn-secondary" %>
<%= link_to "Delete your van",
            van_path(@van),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-secondary"  %>
</div>
<br>
<br>

<%# cl_image_tag @van.photo.key, height: 300, width: 400, crop: :fill %>
